<footer>
    <div class="container">
        <p>© 2024 Derechos reservados By: JSiliezar</p>
        <ul class="social">
            <li><a href="https://youtube.com/@jsiliezar17?si=p6rwtoqiwD1HDEuk" target="_blank"><i class="fa-brands fa-youtube"></i>Youtube</a></li>
            <li><a href="https://www.facebook.com/jsiliezarmoreno/" target="_blank"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
            <li><a href="https://www.instagram.com/og.saliazar__/" target="_blank"><i class="fa-brands fa-instagram-square"></i>Instagram</a></li>
        </ul>
    </div>
</footer>